.cate-swiper-wrapper {
  position: relative;
  overflow: hidden;
  min-width: 100%;
  max-width: 10vw;
  /* padding-right: 56px; */
}

/* .cate-swiper {
  padding-bottom: 10px;
} */

.cate-slide {
  flex-shrink: 0;
  width: auto;
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: linear-gradient(
    91.47deg,
    rgba(218, 69, 143, 0.4) -6%,
    rgba(218, 52, 221, 0.4) 113.05%
  );
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.cate-slide.active {
  background: linear-gradient(91.47deg, #da458f -6%, #da34dd 113.05%);
}

.cate-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 4px 0 0 4px;
  color: #da458f;
  background: linear-gradient(81.35deg, rgba(218, 69, 143, 0.4) 7.2%, rgba(218, 52, 221, 0) 52.38%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(218, 69, 143, 0.5);
  z-index: 10;
}
